/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");  

body { 
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.main-container {
    /* display: flex; */
    width: 100vw;
    background: #FFFAF4;
    background: radial-gradient(at center, #FFFAF4, #FFF7D3);
    height: 80vh;
    margin: 0;
}

.navbar {
    width: 100vw;
    height: 10vh;
    margin: -10px;
    display: flex;
    text-align: right;
    /* background-color: white; */
}
.navbar .shop-logo {
    align-self: center;
    /* width: 10%; */
    height: 50%;
    position: relative;
    left: 10%;
}


.navbar .shop-icon {
    position: relative;
    align-self: center;
    right: 12%;
    opacity: 70%;

}

.navbar nav {
    flex-grow: 1;
    align-self: center;
}


.navbar nav ul li {
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    right: 15%;

}

.navbar nav ul li a {
    color: #787878;
}

a {
    text-decoration: none;
    color: black;
    
}

.page-1 {
    height: 62%;
    width: 100%;
    /* background-color: black; */
}

.page-1-image {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    left: 50%;
    top: 25%;
    height: 50%;
    width: 50%;
    /* background-color: green; */
}

.page-1-image img {
    position: relative;
    width: 35vw;

}

.page-1-text {
    position: relative;
    height: 35%;
    width: 35%;
    bottom: 14vw;
    /* background-color: blue; */
    left: 10%;
}

.page-1-text h1 { 
    position: relative;
    display: inline-block;
    /* text-align: center; */
    width: 100%;
    font-size: 3vw;

}

.page-1-text p { 
    position: relative;
    display: inline-block;
    width: 30vw;
    bottom: 10%;
    margin-top: 30px;
    font-size: 1vw;

}

.page-1-text button {
    position: relative;
    bottom: 10%;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-size: 1vw;
    width: 50%;
    background-color: #e08e94;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.middle-container {
    height: 150vh;
    /* display: flex; */
    justify-content: center;
    /* background-color: black; */
}

.middle-images{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    /* width: 50%; */
    /* height: 350px; */
    margin: 0 auto;
    top: 5%;
    /* background-color: black; */
}

.middle-images img {
    /* width: 80%; */
    width: 15vw;
    height: 20vh;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.showcase-1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    /* background-color: green; */
    top: 20vh;
    margin-bottom: 7%;
}

.products-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    width: 40%;
    height: 20vh;
    /* background-color: blue; */
}

.products-text h1 {
    font-size: 2vw;
    opacity: 80%;

}

.products-text .underline {
    position: relative;
    width: 7vw;
    height: 6%;
    background-color: black;
    border-radius: 20px;
    bottom: 1vw;
    background-color: #fa5a3a;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.products-showcase {
    /* width: 2385px; */
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    bottom: 1.5vh;
    /* width: 20%; */
    /* background-color: black; */
}

.products-showcase img {
    position: relative;
    object-fit: contain;
    /* height: 450px; */
    height: 30vh;
    width: 15vw;
    /* width: 350px; */
    margin: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #4D7AD2;
    /* height: 400px; */
    /* width: 400px; */

}


.product-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 10px; */
}

.product-item h3, .product-item p {
    position: relative;
    left: 6%;
    margin: 0;
}

.product-item p {
    font-size: 17px;
}

.product-item .stars {
    position: relative;
    color: orange;
    font-size: 25px;
    left: 4.3%;
}

.row-1 {
    position: relative;
    /* background-color: red; */
    height: 90%;
    /* margin-bottom: 7%; */
    top: 6vh;
    margin: 0;
}

.row-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height: 800px;
    width: 100%;
    top: -20%;
}


.showcase-2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    width: 100%;
    /* background-color: yellow; */
    top: 12%;
    margin-bottom: 7%;
}

.showcase-2 .row-1 .products-showcase img, .showcase-2 .row-2 .products-showcase img {
    background-color: #e5e5e5;
}


.exclusive-content-container {
    height: 70vh;
    margin-top: 15%;
    background: #C3B9F3;
    background: radial-gradient(at center, #C3B9F3, #274193);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-content-container .middle-text {
    position: relative;
    left: 5%;
    /* background-color: blue; */
}

.exclusive-content-container .middle-text h1 {
    position: relative;
    font-size: 3vw;
}

.exclusive-content-container .middle-text p {
    position: relative;
    font-size: 1vw;
    width: 25vw;
}

.exclusive-content-container .middle-text button {
    position: relative;
    bottom: 10%;
    border: 0;
    border-radius: 20px;
    /* padding-bottom: 5px; */
    width: 40%;
    height: 3.5vh;
    background-color: #b45600;
    font-size: 1vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.exclusive-content-container .middle-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.exclusive-content-container .middle-image img {
    width: 30vw;
    height: 40vh;
    position: relative;
}
.bottom-container {
    height: 100vh;
    background-color: #eef;
}

.bottom-container .bottom-reviews {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: center;
    top: 15vh;
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    /* background-color: green; */
}

.bottom-container .bottom-reviews .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: auto;
    /* background-color: blue; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.bottom-container .bottom-reviews .review p {
    text-align: center;
    font-size: .8vw;
}

.bottom-container .bottom-reviews .review .review-name {
    position: relative;
    text-align: center;
    font-size: .8vw;
    bottom: 2vw;
}

.bottom-container .bottom-reviews .stars {
    color: orange;
    font-size: 1.5vw;
    /* max-width: 10vw; */
    /* min-width: 10vw; */
}

.bottom-container .bottom-reviews .review .review-quote {
    position: relative;
    color: orange;
    font-size: 2.5vw;
    top: 1vw;
}

.bottom-container .bottom-reviews .review .review-profile-img img {
    /* max-width: 12vw; */
    width: 6vw;
    transform: scale(0.6);
    object-fit: cover;
    clip-path: circle(40% at 50% 50%);
    /* border-radius: 10vw; */
}

.bottom-container .bottom-reviews .review .review-profile-img .zach {
    /* max-width: 12vw; */
    width: 6vw;
    transform: scale(0.6);
    object-fit: cover;
    clip-path: circle(40% at 50% 50%);
}

.logos-contain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16vh;
    width: 100%;
    height: 40vh;
    /* background-color: red; */
}

.logos-contain .logos {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 10%;
    width: 60%;
    height: 60%;
    /* background-color: green; */
}

.logos-contain .logos .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    /* background-color: blue; */
    min-width: 15%;
    margin: 10px;
}

.logos-contain .logos .logo img {
    object-fit: fill;
    position: relative;
    object-position: center;
    min-width: 50%;
    max-width: 100%;
    filter: grayscale(80);
}


@media only screen and (hover: hover) {
    .page-1-text button:hover {
        background-color: #d96f77;
        transition: all 1s ease 0s;
    }
    .products-showcase img:hover {
        transform: scale(1.1);
        transition: all 1s ease 0s;
    }
    .exclusive-content-container .middle-text button:hover {
        background-color: #894201;
        transition: all 1s ease 0s;
    }

}

@media only screen and (max-width: 600px) {


    .navbar {
        width: 110vw;
    }
    .navbar .shop-logo {
        transform:  scale(0.5);
        left: 5%;
    }
    .navbar .shop-icon {
        transform:  scale(0.5);
        right: 10%;
        bottom: 3%;
    }
    .navbar nav {
        font-size: 8px;
    }
    .navbar nav ul li {
        margin: 0px 3px;
        right: 20%;

    }
    .navbar nav ul li a {
        color: #787878;
    }

    .page-1-image  img {
        transform: scale(1.5);
        
    }
    .page-1-text {
        bottom: 25vw;
    }

    .page-1-text h1 { 
        font-size: 5vw;

    }

    .page-1-text p { 
        font-size: 3vw;

    }

    .page-1-text button {
        padding: 0px;
        font-size: 8px;
        height: 3vh;
    }

    .middle-images img {
        /* width: 80%; */
        width: 25vw;
        height: 15vh;

    }
    .showcase-1 {
        margin-bottom: 7%;
    }


    .products-text h1 {
        font-size: 16px;
    }

    .products-text .underline {
        width: 12vw;
        height: 4%;
    }

    .products-showcase {
        bottom: 10vh;
    }

    .products-showcase img {
        height: 15vh;
        width: 20vw;
        margin: 10px;
    }


    .product-item h3 {
        font-size: 10px;
        left: 15%;
    }

    .product-item p {
        font-size: 11px;
        left: 15%;
    }

    .product-item .stars {
        position: relative;
        color: orange;
        font-size: 10px;
        left: 14%;
    }

    .row-1 {
        position: relative;
        height: 100%;
        top: 12vh;
        margin: 0;
    }

    .row-2 {
        top: 5%;
    }

    .showcase-2 {
        height: 600px;
        top: 6%;
    }

    .exclusive-content-container {
        height: 50vh;
    }


    .exclusive-content-container .middle-text {
        position: relative;
        left: 5%;
    }

    .exclusive-content-container .middle-text h1 {
        position: relative;
        font-size: 5vw;
    }

    .exclusive-content-container .middle-text p {
        position: relative;
        font-size: 2.5vw;
        width: 35vw;
    }

    .exclusive-content-container .middle-text button {
        width: 50%;
        padding: 0;
        font-size: 2vw;
    }

    .exclusive-content-container .middle-image img {
        width: 35vw;
        height: 15vh;
    }
    .bottom-container {
        height: 80vh;
        /* display: flex; */
        /* background-color: red; */
    }

    .bottom-container .bottom-reviews {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        top: .2vh;
        width: 80%;
        height: 0vh;
        margin: 0 auto;
        margin-left: 26px;
        /* background-color: green; */
    }

    .bottom-container .bottom-reviews .review {
        /* transform: scale(1); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 110%;
        height: auto;
        /* background-color: blue; */
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    }

    .bottom-container .bottom-reviews .review p {
        text-align: center;
        font-size: 2.5vw;
    }

    .bottom-container .bottom-reviews .review .review-name {
        position: relative;
        text-align: center;
        font-size: 2.5vw;
        bottom: 2vw;
    }

    .bottom-container .bottom-reviews .stars {
        color: orange;
        font-size: 2.5vw;
        /* max-width: 10vw; */
        /* min-width: 10vw; */
    }

    .bottom-container .bottom-reviews .review .review-quote {
        position: relative;
        color: orange;
        font-size: 3vw;
        top: 1vw;
    }

    .bottom-container .bottom-reviews .review .review-profile-img img {
        /* max-width: 12vw; */
        width: 6vw;
        transform: scale(1.2);
        object-fit: cover;
        clip-path: circle(40% at 50% 50%);
        /* border-radius: 10vw; */
    }

    .bottom-container .bottom-reviews .review .review-profile-img .zach {
        /* max-width: 12vw; */
        width: 6vw;
        transform: scale(1.2);
        object-fit: cover;
        clip-path: circle(40% at 50% 50%);
    }

    .logos-contain{
        position: relative;
        display: flex;
        /* display: none; */
        justify-content: center;
        align-items: center;
        top: 55vh;
        width: 100%;
        height: 10vh;
        /* background-color: red; */
    }

    .logos-contain .logos {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        top: 10%;
        width: 60%;
        height: 60%;
        /* background-color: green; */
    }

    .logos-contain .logos .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        /* background-color: blue; */
        min-width: 15%;
        margin: 10px;
    }

    .logos-contain .logos .logo img {
        object-fit: fill;
        position: relative;
        object-position: center;
        min-width: 50%;
        max-width: 100%;
        filter: grayscale(80);
    }

}



