body { 
        background-color: #ccc1d2;
    
}

* {
   font-family: "Roboto", sans-serif;
    box-sizing: border-box
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-box {
    height: 300px;
    width: 350px;;
    background-color: green;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-color: #c496a5;
}

.middle-box form { 
    margin: 50px;

}

.middle-box form input { 
    margin: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    outline-widtH: thick;
    outline-color: #ccc1d2;
    border-radius: 10px;
}

.middle-box form input:hover, .middle-box form button:hover, .button-style:hover{
    background-color: #ccc1d2;
    transition: all 1s ease 0s;
}

.middle-box p {
    position: relative;
    top: 25px;
    text-transform: uppercase;
    text-align: center;
}

.middle-box form button { 
    text-transform: uppercase;
    margin: 5px;
    width: 100%;
    border: none;
    padding: 10px;
}

.bottom-text{
    position: relative;
    text-transform: lowercase;
    font-size: 10px;
    bottom: 50px;
}

.middle-box form button a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px;
    opacity: 90%;
}

.login-box {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

.button-style {
    display: inline-block;
    width: 100%;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #2c2c2c;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}





