body {
     background: url("./figures/back4.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}
.main-container-index {
    height: 100vh;
    width: 100%;
}

.open-box { 
    position: relative;
    z-index: 2;
    padding: 5px;
    font-size: 2.5rem;
    color: white;
    transition: all .0001s ease 0s;
}

.close-box {
    position: relative;
    z-index: 2;
    padding: 5px;
    font-size: 2.5rem;
    /* color: ; */
    left: -30vw;
    top: 1%;
    transition: all 1s ease 0s;
}


.flow{
    display: flex;
    height: 100%;
    width: clamp(250px, 17%, 400px);
    flex-direction: row;
    justify-content: space-between;
}

.main-container-index .side-bar {
    position: fixed;
    height: 100%;
    width: clamp(250px, 17%, 400px);
     background-color: rgba(55,19,57,0.5); /* blueish with 50% opacity */
    backdrop-filter: blur(8px); /* Apply a blur effect to the background */
    bottom: .00001%;
    left: -30vw;
    transition: all 1s ease 0s;
}

.side-bar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 10%;

}

.side-bar-title #Hgoose{
    position: relative;
    width: 50%;
    color: white;
}

.side-bar-title #Productions{
    position: relative;
    width: 50%;
    color: white;
}

.side-bar ul {
    list-style-type: none;
    color: white;
    font-size: 2rem;
    padding-left: 10px;
}

.side-bar ul li {
    margin-bottom: 25px;
}

.side-bar ul li a{
    text-decoration: none;
    color: #f0f0f0;
}



.side-bar ul li:hover{
    border: 2px solid rgb(255,255,255,0.2);
    border-right: 0;
    border-left: 0;
}


#check {
    display: none;
}

#check:checked ~ .side-bar {
    left: 0;
    transition: all 1s ease 0s;
}

#check:checked ~ .open-box {
    opacity: 0;
}

#check:checked ~ .close-box {
    left: 0;
}



