* {
   margin: 0;
}

#info {
    display: flex;
}

.left {
    margin: 1%;
    display: flex;
    height: 10vh;
    width: 70%;
    flex-direction: column;
}

.left #left-text {
    color: blue;
}

.right {
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 30%;
    justify-content: right;
    align-items: right;
    border: 3px solid green;
}

.right #right-text {
    text-align: right;
    margin-right: 10px;
    color: blue;
    font-style: italic;
    font-weight: normal;
}

#camera {
    margin: 2%;
}

#camera #phone-body {
    rx: 20;
}

#camera #lens {
    stroke: black;
    stroke-width: 1%;
}

.flash {
    fill: #A1A1A1;
}

.button:hover ~ .flash {
    fill: white;
}
