body {
    /* background-color: #f4f4f4; */
    background: rgb(40,42,54);
    background: linear-gradient(176deg, rgba(40,42,54,1) 0%, rgba(198,198,198,1) 0%, rgba(250,250,250,1) 50%, rgba(141,141,141,1) 100%, rgba(106,106,106,1) 100%, rgba(66,66,66,1) 100%, rgba(54,54,54,1) 100%, rgba(42,42,42,1) 100%);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
 }
.flex-container {
    position: relative;
    height: 100vh;


}
.middle-box, .middle-box-top {
    border-radius: 15%;
}
.middle-box {
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.middle-box-top {
    background-color: #2f74b5;
    width: 350px;
    height: 150px;
    position: absolute;

}

.middle-box-bottom {
    background-color: #2f74b5;
    position: absolute;
    width: 350px;
    height: 20px;
    top: 130px;
}

.profile-image {
    position: absolute;
    width: 130px;
    height: 125px;
    left: 110px;
    top: 35px;
    border-radius: 50%;
    border: 3px solid white;
    outline: 3px solid #2f74b5;
    object-fit: fill;
}

.middle-box-text-top {
    position: absolute;
    font-size: 2em;
    top: 170px;
    left: 120px;
}

.middle-box-text-bottom {
    position: absolute;
    /* font-family: "Gill Sans", sans-serif; */
    font-size: 1em;
    top: 205px;
    left: 118px;
    color: gray;
}

.subscribe-button{
    position: absolute;
    height: 33px;
    width: 100px;
    top: 300px;
    left: 70px;
    background-color: #2f74b5;
    outline-color: #ffffff;
    outline-style: solid;
    outline-width: 2px;
    /* clip-path: ellipse(50% 50% at 50% 50%); */
    border-radius: 24px;
}

.subscribe-text {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black; 
    left: 12px;
    top: 5px;
}

.message-button{
    position: absolute;
    height: 33px;
    width: 100px;
    top: 300px;
    left: 180px;
    background-color: #2f74b5;
    border-radius: 24px;
}

.message-text {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black; 
    left: 15px;
    top: 4px;
}

.media-buttons {
    position: absolute;
    color: red;
    top: 245px;
    left: 90px;
    font-size: 1.3em;
}

.media-buttons .link {
    display: inline-block;
    height: 34px;
    width: 34px;
    background-color: blue;
    border-radius: 50%;
    margin: 3px;
    text-align: center;
    padding: 3px;
}


.media-buttons a:link, a:visited, a:focus{
    color: #ffffff;
    text-decoration: none;
}

.media-buttons a:hover {
    color: red;
    text-decoration: none;
}

.likes, .comments, .shares{
    position: absolute;
    width: 50px;
    height: 20px;
    /* background-color: green; */
    border-right: 1px solid #e7e7e7;
    top: 87%;
}

.shares {
    border-right: none;
}
.likes {
    left: 25%;
}

.comments {
    left: 45%;
}


.shares {
    left: 62%;
}

.likes-text, .comments-text, .shares-text {
    position: absolute;
    left: 17px;
}


