body { 
    background-color: #eee;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.login{
    font-family: "Roboto", sans-serif;
    position: relative;
    background: #FFFFFF;
    width: 260px;
    bottom: 50px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

}

.login .login-text{
    text-transform: uppercase;
    font-size: 15px;
    padding: 1px;
    margin-bottom: 15px;
}

.login input {
    outline: 0;
    border: 0;
    /* border: 2px solid black; */
    background-color: #eee;
    width: 94%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    border-color: #eee;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 11px;
}


.login button {
    text-transform: uppercase;
    background-color: #aad;
    /* border: 2px solid black; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    border: 0;
    width: 93%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;

    
}

.login input:hover, .login input:active, .login button:hover{
    background-color: #D3F8F9;
    opacity: 80%;
    transition: all 1s ease 0s;
}

.login p {
    position: relative;
    margin-bottom: 0;
    font-size: 11px;
    padding-top: 5px;
    top: 5px;
}

.login p .register {
    opacity: 70%;

}


.login a:link, .login a:visited, .login a:active{
    text-decoration: none;
    opacity: 100%;
}

.login a:hover {
    color: #d3f8f9;
    transition: all 1s ease 0s;

}
