body {
    background: #5B0DED;
    background: linear-gradient(135deg, #5B0DED, #D923F1);
}

.main-container-index {
    width: 100%;
    height: 100vh;
}

.main-container-index .notepad {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    border-radius: 15px;
    background: white;
}

.main-container-index .notepad textarea {
    border: 0;
    outline: 0;
    widtH: 100%;
    heighT: 100%;
    resize: none;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1), 0 5px 5px 0 rgba(0, 0, 0, 3);

}
